.father{
    padding:20px;
    background-color: bisque;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.child{
    border: 2px solid red;
    background-color:rgba(32, 218, 48, 0.582);
    padding: 25px;
    font-size: 30px;
    margin: 10px 0;
}


 




