.father{
    padding:25px;
    background-color: bisque;
    display: flex;
   
}
.child{
    border: 2px solid red;
    background-color:rgba(32, 218, 48, 0.582);
    padding: 25px;
    font-size: 30px;
    margin: 10px 0;
}


 




